@section link {
    <link rel="stylesheet" href="~/assets/css/toyDetails.css">
}

@section script {
    <script src="~/assets/js/toyDetails.js"></script>
}


<section class="book-info-sec">
    <div class="info-picture">
        <div class="book-picture">
            <img src="~/assets/images/1684179605-8182CJcXefL.jpg" alt="">
            <p>♡</p>
        </div>
    </div>
    <div class="info-title" style="padding: 0px 25px;">
        <div class="nesr">
            <div class="info-publisher">

                <h3>Tunc Yayınları</h3>
                <h5>Meşə ağacinin hekayesi</h5>
            </div>
            <h6>Agathe Crisstie</h6>
        </div>
        <div class="toys-color">
            <p>Rəng</p>
            <h5>Çox Rəngli</h5>
        </div>
    </div>
    <div class="buy-book">

        <h3 class="book-price-one">21AZN</h3>
        <div class="buy-book-btn" id="buy-book">
            <h6 class="book-price-two">21AZN</h6>
            <button><p style="width: 64px;">Səbətə At</p></button>
        </div>
        <div class="book-seller" style="padding: 0px 25px;">
            <div>
                <p>Satıcı:</p>
                <h5>Dolphin</h5>
            </div>
            <div>
                <h5>Satıcıya Sual Ver</h5>
            </div>
        </div>
    </div>
</section>