@section link {
    <link rel="stylesheet" href="~/assets/css/book.css">
}

@section script {
    <script src="~/assets/js/book.js"></script>
}
<div class="book-page-header">
    <div class="search-result">
        <h2>Kitab</h2>
        <p>183232 nəticə tapıldı</p>
    </div>
    <div class="search-sort">
        <h5>Sırala</h5>
        <i class="bi bi-chevron-down"></i>
    </div>
</div>
<div class="filter-and-grid">

    <section class="book-filter">
        <div class="filter">

            <li class="cat-item">
                <div class="cat-item-2">
                    <a href="#">Kategoriya</a>
                    <span class="toggle-button">
                        <i class="bi bi-plus-lg"></i>
                        <i class="bi bi-dash-lg"></i>
                    </span>

                </div>
                <ul class="children1">
                    <li class="cat-item">
                        <div>
                            <a href="#">Azərbaycan Dilində</a>

                            <span class="toggle-button">
                                <i class="bi bi-plus-lg"></i>
                                <i class="bi bi-dash-lg"></i>
                            </span>
                        </div>
                        <ul>
                            <li class="cat-item">
                                <span></span>
                                <a href="№">Şəxsi inkişaf. Psixologiya</a>
                            </li>
                            <li class="cat-item">
                                <span></span>
                                <a href="№">Bədii Ədəbiyyat</a>
                            </li>
                            <li class="cat-item">
                                <span></span>
                                <a href="№">Dedektiv</a>
                            </li>
                            <li class="cat-item">
                                <span></span>
                                <a href="№">Dərsliklər</a>
                            </li>
                            <li class="cat-item">
                                <span></span>
                                <a href="№">Hüquq</a>
                            </li>
                            <li class="cat-item">
                                <span></span>
                                <a href="№"> Elm və Fəlsəfə</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li class="cat-item">
                <div class="cat-item-2">
                    <a href="#">Yazar</a>
                    <span class="toggle-button">
                        <i class="bi bi-plus-lg"></i>
                        <i class="bi bi-dash-lg"></i>
                    </span>

                </div>
                <ul class="children1">
                    <li class="cat-item">
                        <form class="authors-form" action="/action_page.php">
                            <label for="">
                                <input type="checkbox" name="" id="">
                                <span>Omega (161)</span>
                            </label>
                            <label for="">
                                <input type="checkbox" name="" id="">
                                <span>Picador (71)</span>
                            </label>
                            <label for="">
                                <input type="checkbox" name="" id="">
                                <span>Arrow (6)</span>
                            </label>
                        </form>

                    </li>
                </ul>
            </li>
            <li class="cat-item">
                <div class="cat-item-2">
                    <a href="#">Nəşriyyat</a>
                    <span class="toggle-button">
                        <i class="bi bi-plus-lg"></i>
                        <i class="bi bi-dash-lg"></i>
                    </span>

                </div>
                <ul class="children1">
                    <li class="cat-item">
                        <form class="authors-form" action="/action_page.php">
                            <label for="">
                                <input type="checkbox" name="" id="">
                                <span>Kapra (51)</span>
                            </label>
                            <label for="">
                                <input type="checkbox" name="" id="">
                                <span>Qanun (120)</span>
                            </label>
                            <label for="">
                                <input type="checkbox" name="" id="">
                                <span>Ay (6)</span>
                            </label>
                        </form>

                    </li>
                </ul>
            </li>
            <li class="cat-item">
                <div class="cat-item-2">
                    <a href="#">Qiymət</a>
                    <span class="toggle-button">
                        <i class="bi bi-plus-lg"></i>
                        <i class="bi bi-dash-lg"></i>
                    </span>

                </div>
                <ul class="children1">
                    <li class="cat-item">
                        <form class="authors-form" action="/action_page.php">
                            <label for="">
                                <input type="radio" name="" id="">
                                10AZN-20AZN
                            </label>
                            <label for="">
                                <input type="radio" name="" id="">
                                20AZN-50AZN
                            </label>
                            <label for="">
                                <input type="radio" name="" id="">
                                50AZN-100AZN
                            </label>
                        </form>

                    </li>
                </ul>
            </li>

        </div>
    </section>

    <section class="books-grid">

        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1684339222-81gZISrlN2L.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://image01.idefix.com/resize/800/0/product/366536/yasadim-demek-icin-ne-yapmali-643874ddf1351.jpg" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1684339222-81gZISrlN2L.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://image01.idefix.com/resize/800/0/product/366536/yasadim-demek-icin-ne-yapmali-643874ddf1351.jpg" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>

        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1684339222-81gZISrlN2L.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://image01.idefix.com/resize/800/0/product/366536/yasadim-demek-icin-ne-yapmali-643874ddf1351.jpg" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1684339222-81gZISrlN2L.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="item" id="book-carousel-first">
                    <div class="book-carousel-image">
                        <img style="width: 150px; height: 230px; object-fit: cover;" src="https://image01.idefix.com/resize/800/0/product/366536/yasadim-demek-icin-ne-yapmali-643874ddf1351.jpg" alt="">
                    </div>
                    <div class="book-carousel-detail">
                        <h5>J. Randy Taraborrelli</h5>
                        <p>Jackie</p>
                        <h5>14azn</h5>
                    </div>
                    <div class="basket-button">

                        <button><p>Sebətə at</p></button>
                    </div>

                </div>
            </a>
        </div>



    </section>
</div>
